/*=======================================================================
	＊開発メモ
	このCSSはPCのためのCSSです。
	画面幅は1024px〜を想定しています。
=======================================================================*/

.pages{
	height: 768px;
	max-width: 1024px;
}

.copy{
	position: absolute;
	font-size: 40px;
	line-height: 1.75em;
}

.em{
	font-size: 50px;
}

.text{
	position: absolute;
	font-size: 18px;
	line-height: 1.75em;
	letter-spacing: .1em;
}

.img{
	position: absolute;
	z-index: -1;
}

.btn{
	position: absolute;
	display: block;
	border: 1px solid #000;
	transition: .3s all;
}

.btn::after {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background-color: rgba(255,255,255,.3);
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.btn:hover::after {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	50% {
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
	}
}
@keyframes circle {
	50% {
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
	}
}

.btn:hover{
	background-color: rgba(0,0,0,1);
	color: #fff;
}

/*=======================
		Page-1
=======================*/

.copy-1,.text-1{
	position: absolute;
	font-size: 1.35em;
	line-height: 1.6em;
}

.copy-1{
	top: 160px;
	left: 110px;
}

.text-1{
	top: 310px;
	left: 110px;
}

.name{
	position: absolute;
	top: 385px;
	left: 190px;
	font-size: 4.75em;
}

.buy-btn{
	bottom: 100px;
	left: 190px;
	font-size: 1.25em;
	padding: 7.5px 65px;
}

.buy-btn:hover{
	border-radius: 25px;
}

.img-1{
	width:550px;
	top:175px;
	right: 30px;
}

/*=======================
		Page-2
=======================*/

.img-2{
	bottom: 0px;
	right: 15px;
	width:575px;
}

.copy-2{
	top: 75px;
	left: 85px;
}

.text-2{
	top: 250px;
	left: 105px;
}

/*=======================
		Page-3
=======================*/

.img-3{
	bottom: 75px;
	right: 25px;
	width:575px;
}

.copy-3{
	top: 75px;
	left: 85px;
}

.copy-3 .em{
	font-size: 1.5em;
}

.text-3{
	top: 185px;
	left: 105px;
}
/* サイズのクラス */
.size-1{
	bottom: 271px;
	left: 380px;
}

.size-2{
	bottom: 150px;
	right: 420px;
	transform: rotate(28.5deg);
}

.size-3{
	bottom: 112px;
	right: 87px;
	transform: rotate(-32deg);
}

/*=======================
		Page-4
=======================*/

.img-4{
	bottom: 125px;
	left: 0px;
	width:575px;
}

.copy-4{
	top: 115px;
	right: 100px;
}

.text-4{
	top: 250px;
	right: 105px;
}

/*=======================
		Page-5
=======================*/

.img-5{
	bottom: 50px;
	left: 0px;
	width:450px;
}

.copy-5{
	top: 100px;
	right: 100px;
	text-align: right;
}

.text-5{
	top: 350px;
	right: 105px;
}

/*=======================
		Page-6
=======================*/
.copy-6{
	top: 125px;
	right: 50px;
}

.swiper-container {
    width: 600px;
    height: 450px;
    position: absolute;
    top:285px;
    left:175px;
    border: 1px dotted #000;
}
.swiper-slide {
    background: #fff;
}

.img6-7-1{
	z-index: 1 !important;
	top: -65px;
	left: -25px;
	width: 410px;
}

.img6-7-2{
	z-index: 998 !important;
	top: 30px;
	left: 385px;
	width: 250px;
}

/*=======================
		追加販売ボタン
=======================*/

.btn-page{
	height: 100px;
}

.buy-btn-2{
	color: #fff;
	background-color: #000;
	padding: 15px 80px;
	top: 18px;
	right: 3%;
}

/*=======================
		Page-7
=======================*/
.sakura-logo{
	position:absolute;
	font-size: 5em;
	top: 120px;
	right: 75px;
}

.copy-7{
	top: 225px;
	right: 85px;
}

.img-7{
	width:600px;
	z-index: -1;
	top:50px;
	left: 0px;
}

.text7{
	position: absolute;
	line-height: 1.85em;
	letter-spacing: .1em;
	font-size: 21px;

	bottom: 135px;
}

.text-7-1{
	right: 375px;
}

.text-7-2{
	right: 110px;
	text-align: right;
}

.text-7-3{
	bottom: 70px;
	right:135px;
	font-size: 15px !important;
	line-height: 1.6em;
}

.bar{
	position: absolute;
	background-color: #000;
	width: 410px;
	height: 1px;
	right: 107px;
}

.bar1{bottom: 363px;}
.bar2{bottom: 325px;}
.bar3{bottom: 287px;}
.bar4{bottom: 249px;}
.bar5{bottom: 211px;}
.bar6{bottom: 173px;}
.bar7{bottom: 135px;}


.btn-support{
	font-size: 20px;
	padding: 25px 100px;
	bottom:163px;
	left: 25px;
}

.btn-mah{
	font-size: 20px;
	padding: 25px 28px;
	bottom:75px;
	left: 25px;
}

.btn-company{
	font-size: 20px;
	padding: 25px 68px;
	bottom:75px;
	left: 250px;
}

.f-copy{
	font-size: 15px !important;
	bottom: 10px;
	right: 30px;
}

