/*=======================================================================
	＊開発メモ
	このCSSはスマートフォン・大のためのCSSです。
	画面幅は414〜767pxを想定しています。
=======================================================================*/

.pages{
	height: 700px;
	max-width: 414px;
}

.f-view{
	height:736px !important;
}

.swiper{
	height: 450px !important;
}

.copy{
	position: absolute;
	font-size: 30px;
	line-height: 1.75em;
}

.em{
	font-size: 40px;
}

.text{
	position: absolute;
	font-size: 16px;
	line-height: 1.35em;
	letter-spacing: 0.1em;
}

.img{
	position: absolute;
	z-index: -1;
}

.btn{
	position: absolute;
	display: block;
	border: 1px solid #000;
}

/*=======================
		Page-1
=======================*/

.copy-1,.text-1{
	position: absolute;
	font-size: 20px;
}

.copy-1{
	display: none;
}

.text-1{
	bottom: 165px;
	left: 100px;
}

.name{
	font-size: 70px;
	position: absolute;
	bottom: 85px;
	left: 130px;
}

.buy-btn{
	bottom: 17px;
	right: 100px;
	font-size: 20px;
	padding: 7px 50px;
}

.buy-btn:active{
	top:430px;
}

.img-1{
	width:375px;
	top:125px;
	right: 65px;
}

/*=======================
		Page-2
=======================*/

.img-2{
	bottom: 0px;
	right: 15px;
	width:400px;
}

.copy-2{
	top: 80px;
	left: 40px;
}

.text-2{
	top: 205px;
	left: 50px;
	line-height: 1.55em;
}

/*=======================
		Page-3
=======================*/

.img-3{
	bottom: 45px;
	right: 0px;
	width:400px;
}

.copy-3{
	top: 70px;
	left: 25px;
}

.copy-3 .em{
	font-size: 1.5em;
}

.text-3{
	top: 150px;
	left: 50px;
}

/* サイズのクラス */
.size-1{
	bottom: 215px;
	left: 20px;
}

.size-2{
	bottom: 100px;
	left: 90px;
	transform: rotate(30deg);
}

.size-3{
	bottom: 65px;
	right: 50px;
	transform: rotate(-32deg);
}

/*=======================
		Page-4
=======================*/

.img-4{
	bottom: 0px;
	left: 0px;
	width:414px;
}

.copy-4{
	top: 75px;
	left: 25px;
}

.text-4{
	top: 145px;
	left: 50px;
}

/*=======================
		Page-5
=======================*/

.img-5{
	bottom: -20px;
	left: 0px;
	width:350px;
}

.copy-5{
	top: 43px;
	left: 15px;
	text-align: right;
}

.text-5{
	top: 163px;
	left: 70px;
}

/*=======================
		Page-6
=======================*/
.copy-6{
	top: 50px;
	right: 15px;
}

.swiper-container {
    width: 414px;
    height: 300px;
    position: absolute;
    left:0px;
    top:125px;
    border: 1px dotted #000;
}

.swiper-container img{
	width: 414px;
	height: 275px;
}

.swiper-slide {
    background: #fff;
}

.img6-7-1{
	z-index: 1 !important;
	width: 345px;
	top: -94px;
	left: -70px;
	display: none;
}

.img6-7-2{
	z-index: 998 !important;
	width: 210px;
	top: -15px;
	left: 275px;
	display: none;
}

/*=======================
		追加販売ボタン
=======================*/

.btn-page{
	height: 100px;
}

.buy-btn-2{
	color: #fff;
	background-color: #000;
	padding: 10px 50px;
	top: 18px;
	left: 110px;
}

/*=======================
		Page-7
=======================*/
.sakura-logo{
	position:absolute;
	font-size: 55px;
	top: 35px;
	right: 50px;
}

.copy-7{
	top: 95px;
	right: 53px;
}

.img-7{
	display: none;
}

.text7{
	position: absolute;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	font-size: 18px;
	top: 175px;
}

.text-7-1{
	right: 225px;
}

.text-7-2{
	right: 55px;
	text-align: right;
}

.text-7-3{
	top: 385px;
	right:50px;
	font-size: 12px !important;
	line-height: 1.6em;
}

.bar{
	position: absolute;
	background-color: #000;
	width: 299px;
	height: 1px;
	right: 50px;
}

.bar1{top: 201px;}
.bar2{top: 230px;}
.bar3{top: 259px;}
.bar4{top: 287px;}
.bar5{top: 315px;}
.bar6{top: 343px;}
.bar7{top: 372px;}


.btn-support{
	font-size: 20px;
	padding: 20px 60px;
	bottom:160px;
	left: 40px;
}

.btn-mah{
	font-size: 20px;
	padding: 20px 25px;
	bottom:80px;
	left: 40px;
}

.btn-company{
	font-size: 20px;
	padding: 20px 30px;
	bottom:80px;
	left: 260px;
}

.f-copy{
	font-size: 12px !important;
	bottom: 10px;
	right: 10px;
}