/*=======================================================================
	＊開発メモ
	このCSSはスマートフォン・小のためのCSSです。
	画面幅は320~413pxを想定しています。
=======================================================================*/


.pages{
	height: 568px;
	max-width: 320px;
}

.swiper{
	height: 450px !important;
}

.copy{
	position: absolute;
	font-size: 25px;
	line-height: 1.75em;
}

.em{
	font-size: 30px;
}

.text{
	position: absolute;
	font-size: 16px;
	line-height: 1.35em;
	letter-spacing: 0.1em;
}

.img{
	position: absolute;
	z-index: -1;
}

.btn{
	position: absolute;
	display: block;
	border: 1px solid #000;
	font-size: 17px;
}

/*=======================
		Page-1
=======================*/

.copy-1,.text-1{
	position: absolute;
	font-size: 16px;
}

.copy-1{
	display: none;
}

.text-1{
	font-size: 1.25em;
	bottom: 135px;
	left: 40px;
}

.name{
	font-size: 70px;
	position: absolute;
	bottom: 55px;
	left: 80px;
}


.buy-btn{
	bottom: 10px;
	right: 10px;
	font-size: 20px;
	padding: 7px 100px;
}

.buy-btn:active{
	top:430px;
}

.img-1{
	width:300px;
	top:90px;
	right: 30px;
}

/*=======================
		Page-2
=======================*/

.img-2{
	bottom: 0px;
	right: 15px;
	width:320px;
}

.copy-2{
	top: 60px;
	left: 25px;
}

.text-2{
	top: 160px;
	left: 25px;
	line-height: 1.55em;
}

/*=======================
		Page-3
=======================*/

.img-3{
	bottom: 20px;
	right: 0px;
	width:320px;
}

.copy-3{
	top: 45px;
	left: 25px;
}

.copy-3 .em{
	font-size: 1.5em;
}

.text-3{
	top: 107px;
	left: 35px;
}

/* サイズのクラス */
.size-1{
	bottom: 160px;
	left: 10px;
}

.size-2{
	bottom: 50px;
	left: 60px;
	transform: rotate(30deg);
}

.size-3{
	bottom: 35px;
	right: 25px;
	transform: rotate(-32deg);
}

/*=======================
		Page-4
=======================*/

.img-4{
	bottom: 0px;
	left: 0px;
	width:320px;
}

.copy-4{
	top: 60px;
	left: 25px;
}

.text-4{
	top: 125px;
	left: 35px;
}

/*=======================
		Page-5
=======================*/

.img-5{
	bottom: -30px;
	left: -60px;
	width:320px;
	overflow: hidden;
}

.copy-5{
	top: 18px;
	left: 15px;
	text-align: right;
}

.text-5{
	top: 111.5px;
	left: 23px;
	font-size: 14px;
}

/*=======================
		Page-6
=======================*/
.copy-6{
	top: 60px;
	left: 15px;
}

.swiper-container {
    width: 320px;
    height: 250px;
    position: absolute;
    left:0px;
    top:125px;
    border: 1px dotted #000;
}

.swiper-container img{
	width: 320px;
	height: 213px;
}

.swiper-slide {
    background: #fff;
}

.img6-7-1,.img6-7-2{
	display: none;
}

/*=======================
		追加販売ボタン
=======================*/

.btn-page{
	height: 70px;
}

.buy-btn-2{
	color: #fff;
	background-color: #000;
	padding: 10px 30px;
	top: -20px;
	left: 70px;
}

/*=======================
		Page-7
=======================*/
.sakura-logo{
	position:absolute;
	font-size: 55px;
	top: 20px;
	right: 20px;
}

.copy-7{
	top: 75px;
	right: 25px;
}

.img-7{
	display: none;
}

.text7{
	position: absolute;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	font-size: 18px;
	top: 135px;
}

.text-7-1{
	right: 175px;
}

.text-7-2{
	right: 25px;
	text-align: right;
}

.text-7-3{
	top: 340px;
	left:25px;
	font-size: 10px !important;
	line-height: 1.6em;
}

.bar{
	position: absolute;
	background-color: #000;
	width: 280px;
	height: 1px;
	right: 21px;
}

.bar1{top: 162px;}
.bar2{top: 191px;}
.bar3{top: 220px;}
.bar4{top: 247px;}
.bar5{top: 275px;}
.bar6{top: 302px;}
.bar7{top: 329px;}


.btn-support{
	padding: 18px 41px;
	bottom:109px;
	right: 25px;
}

.btn-mah{
	padding: 18px 15px;
	bottom:40px;
	left: 23px;
}

.btn-company{
	padding: 18px 22px;
	bottom:40px;
	left: 198px;
}

.f-copy{
	font-size: 12px !important;
	bottom: 0px;
	right: 0px;
}