/*=======================================================================
	＊開発メモ
	このCSSはタブレット、ネットブックのためのCSSです。
	画面幅は768〜1024pxを想定しています。
=======================================================================*/

.pages{
	height: 512px;
	max-width: 768px;
}

.copy{
	position: absolute;
	font-size: 30px;
	line-height: 1.75em;
}

.em{
	font-size: 40px;
}

.text{
	position: absolute;
	font-size: 16px;
	line-height: 1.75em;
	letter-spacing: .1em;
}

.img{
	position: absolute;
	z-index: -1;
}

.btn{
	position: absolute;
	display: block;
	border: 1px solid #000;
	transition: 0.3s all;
}

.btn:hover{
	background-color: rgba(0,0,0,0.05);
}

/*=======================
		Page-1
=======================*/

.copy-1,.text-1{
	position: absolute;
	font-size: 20px;
}

.copy-1{
	top: 100px;
	left: 150px;
}

.text-1{
	top: 230px;
	left: 150px;
}

.name{
	font-size: 60px;
	position: absolute;
	bottom: 150px;
	left: 200px;
}

.buy-btn{
	top: 425px;
	left: 207px;
	font-size: 20px;
	padding: 7px 30px;
}

.buy-btn:active{
	top:430px;
}

.img-1{
	width:350px;
	bottom:30px;
	right: 30px;
}

/*=======================
		Page-2
=======================*/

.img-2{
	bottom: 0px;
	right: 15px;
	width:400px;
}

.copy-2{
	top: 75px;
	left: 85px;
}

.text-2{
	top: 225px;
	left: 105px;
	line-height: 1.55em;
}

/*=======================
		Page-3
=======================*/

.img-3{
	bottom: 75px;
	right: 25px;
	width:425px;
}

.copy-3{
	top: 75px;
	left: 55px;
}

.copy-3 .em{
	font-size: 1.5em;
}

.text-3{
	top: 160px;
	left: 75px;
}
/* サイズのクラス */
.size-1{
	bottom: 255px;
	left: 300px;
}

.size-2{
	bottom: 130px;
	right: 310px;
	transform: rotate(30deg);
}

.size-3{
	bottom: 105px;
	right: 65px;
	transform: rotate(-32deg);
}

/*=======================
		Page-4
=======================*/

.img-4{
	bottom: 25px;
	left: 0px;
	width:500px;
}

.copy-4{
	top: 50px;
	right: 35px;
}

.text-4{
	top: 125px;
	right: 45px;
}

/*=======================
		Page-5
=======================*/

.img-5{
	bottom: 0px;
	left: 0px;
	width:350px;
}

.copy-5{
	top: 50px;
	right: 75px;
	text-align: right;
}

.text-5{
	top: 200px;
	right: 75px;
}

/*=======================
		Page-6
=======================*/
.copy-6{
	top: 75px;
	right: 25px;
}

.swiper-container {
    width: 450px;
    height: 300px;
    position: absolute;
    left:135px;
    top:200px;
    border: 1px dotted #000;
}

.swiper-container img{
	width: 413px;
	height: 275px;
}

.swiper-slide {
    background: #fff;
}

.img6-7-1{
	z-index: 1 !important;
	width: 345px;
	top: -94px;
	left: -70px;
}

.img6-7-2{
	z-index: 998 !important;
	width: 210px;
	top: -15px;
	left: 275px
}

/*=======================
		追加販売ボタン
=======================*/
.btn-page{
	height: 100px;
}

.buy-btn-2{
	color: #fff;
	background-color: #000;
	padding: 15px 80px;
	top: 18px;
	right: 3%;
}

/*=======================
		Page-7
=======================*/
.sakura-logo{
	position:absolute;
	font-size: 55px;
	top: 35px;
	right: 50px;
}

.copy-7{
	top: 95px;
	right: 53px;
}

.img-7{
	width:415px;
	z-index: -1;
	top:10px;
	left: 0px;
}

.text7{
	position: absolute;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	font-size: 18px;

	bottom: 135px;
}

.text-7-1{
	right: 225px;
}

.text-7-2{
	right: 55px;
	text-align: right;
}

.text-7-3{
	bottom: 85px;
	right:50px;
	font-size: 12px !important;
	line-height: 1.6em;
}

.bar{
	position: absolute;
	background-color: #000;
	width: 299px;
	height: 1px;
	right: 50px;
}

.bar1{bottom: 303px;}
.bar2{bottom: 274px;}
.bar3{bottom: 245px;}
.bar4{bottom: 219px;}
.bar5{bottom: 192px;}
.bar6{bottom: 163px;}
.bar7{bottom: 134px;}


.btn-support{
	font-size: 20px;
	padding: 20px 60px;
	bottom:100px;
	left: 15px;
}

.btn-mah{
	font-size: 20px;
	padding: 20px 25px;
	bottom:20px;
	left: 15px;
}

.btn-company{
	font-size: 20px;
	padding: 20px 30px;
	bottom:20px;
	left: 235px;
}

.f-copy{
	font-size: 12px !important;
	bottom: 20px;
	right: 50px;
}