/*===============================================
●import.css  インポートCSSファイル、ここからCSSが分岐
===============================================*/




/*       ほとんどのiPhone含むスマホ用CSS            */
@import url(import/smart1.css) screen and (min-width: 320px) and (max-width: 413px);




/*       iPhone6s含む大画面スマホ用CSS            */
@import url(import/smart2.css) screen and (min-width: 414px) and (max-width: 767px);




/*       タブレット用CSS            */
@import url(import/tablet.css) screen and (min-width: 768px) and (max-width: 1023px);




/*       PC用CSS            */
@import url(import/pc.css) screen and (min-width: 1024px);
