@font-face {
   font-family: mplus-l;
   src: url('../../font/mplus-1p-light.eot'); /* IE9 Compat Modes */
   src: url('../../font/mplus-1p-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/mplus-1p-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../font/mplus-1p-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
   font-family: mplus-r;
   src: url('../../font/mplus-1p-regular.eot'); /* IE9 Compat Modes */
   src: url('../../font/mplus-1p-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/mplus-1p-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../font/mplus-1p-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}


body{
	margin:0;
}

.font{
	font-family: "Yantramanav",Arial, “Droid Sans”,cursive;
	font-weight: 100;
}

.mplus-l{
	font-family: "mplus-l",“游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}

.mplus-r{
	font-family: "mplus-r",“游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}

#bg{
	width: 100%;
	border-bottom: 1px #ababab solid;
}

.bg{
	width: 100%;
}

#bg-g{
	width: 100%;
	background-color: #ebebeb;
}

.pages{
	position: relative;
	margin: 0 auto;
	width: 100%;
}