/*=================================================
	＊開発メモ
	  他でも使用できるよう、NavBarは別CSSとする。
	  ホバーを追加.menu
=================================================*/

a{
	text-decoration: none;
	color: #000;
}

#nav-bg{
	background-color: #fff;
	z-index: 999;
}

#nav{
	background-color: #fff;
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 999;
}

.mah,.sakura,.cylinder{
	font-size: 1.5em;
}

.menu{
	cursor: pointer;
}

.check{
	display: none;
}

.check:checked ~ .slide{
	visibility: visible;
}

.check:checked ~ .menu{
	background-color: #000;
	color: #fff;
	border-radius: 4px;
}

.slide{
	visibility: hidden;
}

.slide a{
	position: fixed;
	display: block;
	border: solid 1px #000;
	z-index: 999;
	background-color: #fff;
}



/*=======================================================================================================
				スマホ全般に適用するCSS
=========================================================================================================*/
@media screen and (min-width: 320px) and (max-width: 767px){
body{
	margin: 0;
}

#nav{
	position: fixed;
	border-bottom: dashed 1px #000;
}

.mah{
	position: relative;
	display: block;
	padding: 11px 30px;
	margin: 0 auto;
	width: 70px;
	height: auto;
}

.menu{
	position: absolute;
	display: block;
	border: 1px solid #000;
	top:2px;
	left: 2px; 
	padding: 12.5px 20px;
}

.sakura,.cylinder{
	display: none;
}

.slide{
	font-size: 1.35em;
}

}

/*========================================================================================
				iPhone4&5 用のCSS
==========================================================================================*/
@media screen and (min-width: 320px) and (max-width: 321px){
.company{
	padding: 45px 32px;
	top: 56px;
	left: 5px;
}

.philo{
	padding: 45px 32px;
	top: 56px;
	right: 5px;
}

.support{
	padding: 20px 120.7px;
	top: 180px;
	left: 5px;
}

.s-cylinder{
	padding: 30px 120.5px;
	top: 255px;
	left: 5px;
}

}

/*========================================================================================
				スマホ・小
==========================================================================================*/
@media screen and (min-width: 322px) and (max-width: 373px){
.s-cylinder{
	padding: 18px 30.25px;
	top: 55px;
	left:5px;
}

.philo{
	padding: 18px 17.25px;
	top: 125px;
	left:5px;
}

.support{
	padding: 18px 30px;
	top: 195px;
	left:5px;
}

.company{
	padding: 18px 22px;
	top: 265px;
	left: 5px;
}

}

/*========================================================================================
				iPhone6用のCSS
==========================================================================================*/
@media screen and (min-width: 374px) and (max-width: 375px){
.company{
	padding: 51px 18px;
	top: 56px;
	left: 5px;
}

.philo{
	padding: 51px 13px;
	top: 56px;
	left: 127px;
}

.support{
	padding: 51px 25.5px;
	top: 56px;
	right: 5px;
}

.s-cylinder{
	padding: 35px 147.53px;
	top: 190px;
	left: 5px;
}

}

/*========================================================================================
				スマホ・中
==========================================================================================*/
@media screen and (min-width: 376px) and (max-width: 412px){
.s-cylinder{
	padding: 18px 30.25px;
	top: 55px;
	left:5px;
}

.philo{
	padding: 18px 17.25px;
	top: 125px;
	left:5px;
}

.support{
	padding: 18px 30px;
	top: 195px;
	left:5px;
}

.company{
	padding: 18px 22px;
	top: 265px;
	left: 5px;
}

}

/*========================================================================================
				iPhone6plus用のCSS
==========================================================================================*/
@media screen and (min-width: 413px) and (max-width: 415px){
.company{
	padding: 45px 24px;
	top: 56px;
	left: 5px;
}

.philo{
	padding: 45px 19px;
	top: 56px;
	left: 140.55px;
}

.support{
	padding: 45px 31.5px;
	top: 56px;
	right: 5px;
}

.s-cylinder{
	padding: 35px 167px;
	top: 180px;
	left: 5px;
}

}

/*========================================================================================
				スマホ・大
==========================================================================================*/
@media screen and (min-width: 416px) and (max-width: 767px){

.s-cylinder{
	padding: 28px 78px;
	top: 60px;
	left:5px;
}

.philo{
	padding: 28px 65px;
	top: 150px;
	left:5px;
}

.support{
	padding: 28px 78px;
	top: 240px;
	left:5px;
}

.company{
	padding: 28px 70px;
	top: 330px;
	left: 5px;
}

}

/*=======================================================================================================
				タブレット と PCに適用するCSS
=========================================================================================================*/
@media screen and (min-width: 768px){
#nav-bg{
	position: fixed;
	width: 100%;	
	height: 50px;
	top: 0;
	border-bottom: 1px #000 solid;
}

#nav{
	position: relative;
	margin: 0 auto;
}

.mah{
	left:20px;
}

.sakura{
	left:130px;
}

.cylinder{
	top:3px;
	left: 230px;
}

.l-btn{
	top: 2px;
	padding: 7px 20px;
}

.nav-btn{
	position: absolute;
	display: block;
	transition: all 0.3s;
}

.menu{
	top: 2.5px;
	right: 50px;
	padding: 9px 30px;
	border-right: 1px #000 solid;
	border-left: 1px #000 solid;
}

.nav-btn:hover{
	background-color: rgba(0,0,0,0.075);
	border-radius: 5px;
}

.menu,.slide{
	font-size: 1.25em;
}

.slide a{
	transition:0.3s all;
}

.company{
	padding: 14px 23.5px;
	top: 60px;
	right: 42px;
}

.support{
	padding: 14px 30px;
	top: 120px;
	right: 42px;
}

.philo{
	padding: 14px 18.5px;
	top: 180px;
	right: 42px;
}

.sma{
	display: none !important;
}

.slide a:hover{
	background-color: #000;
	color: #fff;
}

}

/*=======================================================================================
				タブレット (tablet)
=========================================================================================*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
#nav{
	max-width: 768px;
}

.slide a:hover{
	right: 60px;
}

}

/*========================================================================================
				パソコン (PC)
==========================================================================================*/
@media screen and (min-width: 1024px) {
#nav{
	max-width: 1024px;
}

.mah{
	left:20px;
}

.sakura{
	left:130px;
}

.cylinder{
	top:3px;
	left: 230px;
}

.company:hover{
	padding: 15px 40px;
}

.support:hover{
	padding: 15px 46.5px;
}

.philo:hover{
	padding: 15px 35.2px;
}